  p
  {
    font-family: Roboto; /*Visual style for all texts within the "<p></p>" element.*/
    margin-top: 0; /*Paragraphs ("<p></p>") by default come with their own margin space for the top, and its own margin space for the bottom.*/
    margin-top: 0;
    margin-bottom: 0;
    color: rgb(29, 29, 31);
  }
    /*Store Mac ipad iPhone*/
    .purchase-options
    {
      font-size: 12px;
      background-color: rgba(0, 0, 0, 0.8);
      padding: 0 82px;
      padding-top: 17px;
      padding-bottom: 17px;
      margin-left: 0;
      color: rgb(245, 245, 247);
    }
    /*Contents within the "<span></span> element*/
    .span-purchase-options
    {
      margin-left: 20px;
      margin-right: 20px;
    }
    /*Contents within the "<span></span> element*/
    .span-purchase-options:hover
    {
      cursor: pointer;
    }
    /*Shop now link*/
  .shop-now-text
  {
    background-color: rgb(255, 255, 255);
    padding: 0px 100px;
    font-size: 14px;
    color: rgb(29, 29, 31);
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  /*Get a $50 Apple Gift Card when you buy an Apple TV.⬦⬦ Shop now >*/
  .shop-now
  {
    color: rgb(0, 102, 204);
    cursor: pointer;
  }
  /*Get a $50 Apple Gift Card when you buy an Apple TV.⬦⬦ Shop now >*/
  .shop-now:hover
  {
    text-decoration: underline;
  }
  /*"Store. The best way to buy the products you love."*/
  .products-text
  {
    font-size: 48px;
    width: 700px;
    background-color: rgb(238, 236, 236);
    padding-left: 120px;
    padding-right: 388px;
    padding-top: 104px;
    padding-bottom: 640px;
    color: darkgray;
    line-height: 52px;
  }
