:root{
	--mainColor: #eaeaea;
	--secondaryColor: #fff;

	--borderColor: #c1c1c1;
	
	--mainText: black;
	--secondaryText: #4b5156;

	--themeDotBorder: #24292e;

	--previewBg: rgb(251, 249,243,0.8);
	--previewShadow: #f0ead6;

	--submitButtonColor: black;
}


@media screen and (max-width: 1200px){
			.maintenance{
				width: 95%;
			}
			}

			@media screen and (max-width: 800px){
			.maintenance{
				grid-template-columns: 1fr;
				grid-template-areas: 
					'nav-wrapper'
					'left-column'
					'right-column'
				;
			}

			.right-column{
				justify-content: center;
			}

			}

			@media screen and (max-width: 400px){
			#maintenance{
				max-width: 280px;
				height: 180px;
				padding-left: 10px;
				padding-top: 10px;
			}

			#maintenance{
				width: 280px;

			}

			}