:root{
	--mainColor: #15202B;
	--secondaryColor: #ff7f00;

	--borderColor: #f5f5dc;
	
	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder: #FFF;

	--previewBg: rgb(25, 39, 52, 0.8);
	--previewShadow: #111921;

	--submitButtonColor: #17a2b8;
}